@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=JetBrains+Mono:wght@400;700&family=Cormorant+Garamond:ital,wght@1,400;1,600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Cormorant Garamond", serif;
  
  --color-slate-950: #020617;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-800: #27272a;
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-zinc-50 text-slate-950;
  }
}

@layer components {
  .technical-grid {
    @apply border border-zinc-200 divide-y divide-zinc-200;
  }
  
  .data-cell-mono {
    @apply font-mono tracking-tighter text-sm;
  }
}
